/*@import './global.css';*/

body {
  color: red;
  font-size: 12px;
}

.box1 {
  color: blue;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url('./image/1.png');
}

.box2 {
  color: blue;
  font-size: 20px;
  font-weight: 900;
}